body {
    font-family: 'Titillium Web', sans-serif;
}

#logo {
    width: 100px;
}

.navbar {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;
    box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);          
    background-color: #fff;
}

.navbar-section a, .btn.btn-link {
    color: #1c1c1c;
    text-decoration: none;    
    font-weight: bold;
}

.mobile-nav-container {
    display: none;
}

.hero {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/PC.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 74px;
    position: relative;
    display: flex;
    align-items: center;
}

.hero h1 {
    color: #fff;
    /* position: absolute; */
    text-align: center;
    width: 100%; 
    font-family: 'Titillium Web', sans-serif;
    /* text-shadow: 3px 3px #5755d9; */
    font-size: 8vh; 
    font-weight: bold;
}

#optic-logo {
    width: 60%;
    padding: 50px;
    display: block;
    margin: 0 auto;
}

.optic-text {
    padding: 50px;
    font-size: 18px;
    vertical-align: middle;
}

.content {
    padding: 50px;
    display: flex;
    align-items: center;
}

.content-align {
    display: flex;
    align-content: center;
}

.columns-flex {
    display: flex;
    align-items: center;
}

.figure {
    width: auto;
    margin: 0 auto;
}

#vid {
    padding: 150px;
    background-image: url(../images/switch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;    
}
 
#standings {
    padding: 50px;
}

#standings h1 {
    text-align: center;
    color: #5755d9;
}

footer {
    background-color: #403ea2;
    color: #fff;
    padding: 5%;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    color: #fff;
}

footer ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.contact {
    margin-top: 100px;
    padding: 20px;
}

.contact h1 {
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    color: #fff; 
    background-color: #fff; 
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (min-width: 1920px) {
    
    /*
    #vid {
        padding: 150px;
        background-image: url(../images/switch.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        display: flex;
        align-items: center;    
    }    
    */
    
    .navbar {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #vid p {
        line-height: 2.5;
    }
    
    #news p {
        line-height: 2.5;

    }
    
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #vid {
        padding-left: 10%;
        padding-right: 10%;
    }    
    
}

@media screen and (max-width: 1140px) {
        
    #vid {
        padding: 50px;
    }
    
    #news {
        padding: 20px;
    }
    
    #optic-logo {
        padding: 0;
    }
}


@media screen and (max-width: 840px) {
        
    #vid {
        padding: 75px;
    }
    

}

@media screen and (max-width: 480px) {
    
    #vid {
        padding: 20px;
    }
    
    #news {
        padding: 10px;
    }
    
    .hero h1 {
        font-size: 6vh;
    }
    
    #standings {
        padding: 20px;
    }
    
    #mobile-nav {
        display: none;
        width: 100%;
        margin: 0 auto;
        position: fixed; 
        top: 78px;
        left: 0;
        z-index: 2000;
        background-color: #fff;
        color: #122760;
        text-decoration:none;
        border-bottom: 1px solid #cecece;
    }
    
    .mobile-nav-container nav {
        width: 100%;
        margin: 0 auto;
    }
    
    .mobile-nav-container nav a {
        display: block;
        text-align: center;
        padding: 10px;
    }      
    
    footer {
        text-align: center;
    }
    
    .figure {
        padding-bottom: 30px;
    }    
    
}